<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #66C6DA;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Login Page!!</title>
</head>

<body>
    <h2>Grocery List</h2>
      <div class="theTable">
        <table class="table table-striped table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ingredient</th>
            <th scope="col">Amount</th>
            <th scope="col">Unit</th>
          </tr>
          {% for i in range(len) %}
            <tr>
                <td>{{ ingredients["names"][i] }}</td>
                <td>{{ ingredients["quantities"][i] }}</td>
                <td>{{ ingredients["units"][i] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div>
        <a href="/logout"><div class="logout">Log Out</div></a>
      </div>
</body>

</html>