<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #66C6DA;
        }
        .Directory {
          top: 0;
          width: 100%;
          position: fixed;        
          background: #333;
          padding: 10px 0;
          color: #fff;
        }
        body{        
          padding-top: 60px;
          padding-bottom: 40px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Login Page!!</title>
</head>

<body>
  <br/>
  <div class="Directory">
    <nav>
      <a href="/recipelist"><button>My Recipes</button></a>
      <a href="/logout"><button>Log Out</button></a>
    </nav>
  </div>
  <br/>
  <h2>Grocery List</h2>
    <br/>
      <div class="theTable">
        <table class="table table-striped table-dark">
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Ingredient</th>
            <th scope="col">Amount</th>
          </tr>
          {% for i in range(len) %}
            <tr>
              <td><input type="submit" value="Delete"/></td>
              <td><form action="/delingredient" method="post">{{ ingredients["names"][i] }} <input type="hidden" name="ingredient_name" value={{ ingredients["names"][i] }} /></form></td>
              <td>{{ ingredients["quantities"][i] }} {{ ingredients["units"][i] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
</body>

</html>