<!DOCTYPE HTML>
<html>
    <head>
        <style>
            body {
                color:black;
            }
        </style>
    </head>
    <body>
        <div class="Directory">
            <a href="/grocerylist"><button>My Grocery List</button></a>
            <a href="/recipelist"><button>My Recipes</button></a>
            <a href="/logout"><button>Log Out</button></a>
        </div>
        <div class="info">
            <h1>{{ data["title"] }}</h1>
            <p>{{ data["summary"] |safe}}</p>
            <img src={{ data["imageURL"] }} />
        </div>
        <br/>
        <br/>
        <div class="ingredients">
            <h2>Needed Ingredients:</h2>
            <form method="post" action="/addingredients">
                <input type="hidden" name="recipe_id" value="{{data['recipe_id']}}" />
                {% for i in range(data["len"])%}
                    <p>
                        <input type="hidden" name="ingredient" value="{{data["ingredients"][i]["name"]}}">
                        <input type="hidden" name="quantity" value="{{data["ingredients"][i]["quantity"]}}">
                        <input type="hidden" name="units" value="{{data["ingredients"][i]["units"]}}">
                        <input type="checkbox" name="checks" value="{{i}}">{{data["ingredients"][i]["name"]}}
                    </p>
                {%endfor%}
                <button type="submit">Add All</button>
            </form>
        </div>
    </body>
</html>