<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/static/enter.js"></script>
        <link rel="stylesheet" href="/static/enter.css" type="text/css" />
    </head>
    <body>
        <div class="logbox">
        <form method="POST" action="/signuppost">
            <input type="text" name="email" placeholder="Email"/><br/>
            <input type="text" name="name" placeholder="Name"/><br/>
            <input type="submit" value="Sign Up">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="loglink"><a href="/login">Log In</a></div>
    </div>
    </body>
</html>