<!DOCTYPE html>
<html>
    <body>
        <form action="/addingredients" method="post">
            <input type="checkbox" name="checks"/> <input type="hidden" name="ingredient" value="ing1"/>Ingredient <input type="hidden" name="quantity" value="3"/> <input type="hidden" name="units" value="unt"/>
            <input type="checkbox" name="checks"/> <input type="hidden" name="ingredient" value="ing2"/>Ingredient <input type="hidden" name="quantity" value="5"/> <input type="hidden" name="units" value="unt2"/>
            <input type="checkbox" name="checks"/> <input type="hidden" name="ingredient" value="ing3"/>Ingredient <input type="hidden" name="quantity" value="9"/> <input type="hidden" name="units" value="unt3"/>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>