* {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  text-align: center;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body::after {
  content: "";
  background: url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: darkolivegreen;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  padding-left: 20rem;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h2{
  font: size 10px;
}
input[type=text] {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  padding: 10px;
  font-size: 17px;
  width: 550px 80%;
  background: #f1f1f1;
  border-radius: 15px;
}
.button1 {
  font-weight: 700;
  font-size: 1.7rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  width: 13%;
  padding: 1.25rem 2.5rem;
  background: darkolivegreen;
  color: white;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 1rem;
}
.button12 {
  font-weight: 700;
  font-size: 1.7rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  width: 13%;
  padding: 1.25rem 2.5rem;
  background: darkolivegreen;
  color: white;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 1rem;
  margin-top: 4rem;
}
 
button:hover {
  background: darkolivegreen;
}
.button2 {
  height: 4rem;
  width: 12rem;
  background-color: darkolivegreen;
  color: white;
  border-radius: 15px;
  border: darkolivegreen;
  font-size: 1.7rem;
}
.button3 {
  height: 4rem;
  width: 8%;
  background-color: darkolivegreen;
  color: white;
  border-radius: 15px;
  border: darkolivegreen;
  font-size: 1.7rem;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
  text-align: center;
}
.greeting {
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #688d68;
  text-shadow: -3px 2px 6px floralwhite;
  font-size: 5rem;
  margin-top: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 3rem;
}
.yourRecipe {
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: darkslategrey;
  font-size: 4rem;
  margin-top: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 3rem;
}
.listofR {
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2rem;

}
.pageTitle, .pageTitle1 {
  color: white;
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  letter-spacing: 0.0625em;
  text-decoration: none;
  font-size: 1.75rem;
  font-size: 2rem;
}
.pageTitle:hover, .pageTitle1:hover{
  background-color: darkolivegreen;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}
.theLink, .theItem {
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: rgb(172, 172, 172);
  letter-spacing: 0.0625em;
  text-decoration: none;
  font-size: 1.75rem;
}
.theItem:hover, .theLink:hover {
  background-color: darkolivegreen;
  color: #fff;
  text-decoration: none;
  font-size: 1.75rem;
}